#header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header.header {
  background-color: var(--surface);
  color: var(---primary);
  text-decoration-color: var(--primary);
}

#header-icon {
  height: 25px;
  margin-right: 10px;
}

#header-link {
  text-decoration-color: var(--primary);
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: baseline;
}
