.header {
  background-color: var(--surface);
  color: var(---primary);
  text-decoration-color: var(--primary);
}

.content {
  max-width: var(--content-width);
  margin: auto;
  padding: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.icon {
  height: 25px;
  margin-right: 10px;
}

.link {
  text-decoration-color: var(--primary);
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: baseline;
}
