.header,
.tagContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  font-size: 14px;
}

.gamma {
  margin-left: 10px;
  font-size: 20px;
}

.username {
  color: var(--on-background);
}

/** Tags */ 

.tag {
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 6px;

  color: var(--on-tag);
}

.visitor {
  background-color: var(--visitor);
}
.initiate {
  background-color: var(--initiate);
}
.green {
  background-color: var(--green);
}
.teal {
  background-color: var(--teal);
}
.purple {
  background-color: var(--purple);
}
.gold {
  background-color: var(--gold);
}
.diamond {
  background-color: var(--diamond);
}
.ruby {
  background-color: var(--ruby);
}
.topaz {
  background-color: var(--topaz);
}
.jade {
  background-color: var(--jade);
}

.twenty-four {
  background-color: var(--twenty-four);
}
.beta-tester {
  background-color: var(--beta-tester);
}
.mod {
  background-color: var(--mod);
}
