<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>tor-user-stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <link rel="icon" type="image/svg+xml" href="../images/favicon.svg">
    <script src="../src/user-search.ts" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div id="header-content">
        <a id="header-link" href="index.html">
          <h1>tor-user-stats</h1>
        </a>
        <a
          href="https://github.com/TimJentzsch/tor-user-stats"
          title="Check out the project on GitHub"
        >
          <img width="35px" height="35px" src="../images/github-icon.png" alt="GitHub icon" />
        </a>
      </div>
    </header>
    <div id="body-container">
      <div id="search-container">
        <form id="main-search-form" class="search-form" onsubmit="return false;">
          <label for="main-user-input">/u/</label>
          <input
            id="main-user-input"
            class="user-input"
            placeholder="username"
            autofocus
            type="text"
          />
          <input id="main-search-button" class="search-button" type="submit" value="search" />
        </form>
      </div>
    </div>
    <footer>
      <div id="footer-content">
        <p id="footer-disclaimer" class="footer-text">
          <strong>Disclaimer:</strong> This is a community-maintained project and is not officially
          endorsed by <a href="https://www.reddit.com/r/TranscribersOfReddit/wiki/index">/r/TranscribersOfReddit</a> nor <a href="https://www.grafeas.org/about">Grafeas Group</a>; they are in no way involved with
          this tool and are not liable for any matters relating to it.
        </p>
        <p id="footer-copyright" class="footer-text">
          <strong>tor-user-stats</strong>, &#xa9; 2020 Tim Jentzsch<br />
          This project is available open source on
          <a href="https://github.com/TimJentzsch/tor-user-stats">GitHub</a>
        </p>
      </div>
    </footer>
  </body>
</html>
