<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>tor-user-stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <script src="../src/user-display.ts" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div id="header-content">
        <a id="header-link" href="/index.html">
          <h1>tor-user-stats</h1>
        </a>
        <a
          href="https://github.com/TimJentzsch/tor-user-stats"
          title="Check out the project on GitHub"
        >
          <img width="35px" height="35px" src="../images/github-icon.png" alt="GitHub icon" />
        </a>
      </div>
    </header>
    <div id="body-container">
      <div id="user-header">
        <h2 id="username">/u/username</h2>
        <span id="scribe-count" title="Transcription count">(0 &#x393;)</span>
        <div id="tag-container">
          <div class="tag visitor">Visitor (0)</div>
        </div>
      </div>
    </div>
  </body>
</html>
