<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>tor-user-stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <script src="../src/user-display.ts" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div id="header-content">
        <a id="header-link" href="/index.html">
          <h1>tor-user-stats</h1>
        </a>
        <a
          href="https://github.com/TimJentzsch/tor-user-stats"
          title="Check out the project on GitHub"
        >
          <img width="35px" height="35px" src="../images/github-icon.png" alt="GitHub icon" />
        </a>
      </div>
    </header>
    <div id="body-container">
      <progress id="progress-bar" value="0"></progress>
      <div id="user-header">
        <h2 id="username">/u/username</h2>
        <span id="scribe-count" title="Transcription count">(0 &#x393;)</span>
        <div id="tag-container">
          <div class="tag visitor">Visitor (0)</div>
        </div>
      </div>
      <div id="user-container">
        <h3>General</h3>
        <div id="general-stat-container">
          <table>
            <tr>
              <th></th>
              <th>1 h</th>
              <th>24 h</th>
              <th>7 d</th>
              <th>365 d</th>
            </tr>
            <tr>
              <th>Peak</th>
              <td id="peak-1h">0</td>
              <td id="peak-24h">0</td>
              <td id="peak-7d">0</td>
              <td id="peak-365d">0</td>
            </tr>
            <tr>
              <th>Average</th>
              <td id="avg-1h">0</td>
              <td id="avg-24h">0</td>
              <td id="avg-7d">0</td>
              <td id="avg-365d">0</td>
            </tr>
          </table>
          <table>
            <tr>
              <th></th>
              <th>Characters</th>
              <th>Words</th>
            </tr>
            <tr>
              <th>Peak</th>
              <td id="char-peak">0</td>
              <td id="word-peak">0</td>
            </tr>
            <tr>
              <th>Average</th>
              <td id="char-avg">0</td>
              <td id="word-avg">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
