<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>tor-user-stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="../styles/main.css" />
    <script src="../src/user-display.ts" type="text/javascript"></script>
  </head>
  <body>
    <header>
      <div id="header-content">
        <a id="header-link" href="index.html">
          <h1>tor-user-stats</h1>
        </a>
        <div id="header-search-container" class="search-container">
          <form id="header-search-form" class="search-form" onsubmit="return false;">
            <label for="header-user-input">/u/</label>
            <input
              id="header-user-input"
              class="user-input"
              placeholder="username"
              autofocus
              type="text"
            />
            <input id="header-search-button" class="search-button" type="submit" value="search" />
          </form>
        </div>
        <a
          href="https://github.com/TimJentzsch/tor-user-stats"
          title="Check out the project on GitHub"
        >
          <img width="35px" height="35px" src="../images/github-icon.png" alt="GitHub icon" />
        </a>
      </div>
    </header>
    <div id="body-container">
      <progress id="progress-bar" value="0"></progress>
      <div id="user-header">
        <a id="user-link" href="https://www.reddit.com"><h2 id="username">/u/username</h2></a>
        <span id="scribe-count" title="Transcription count">(0 &#x393;)</span>
        <!-- Tags -->
        <div id="tag-container">
          <div id="count-tag" class="tag visitor">Visitor (0)</div>
          <div id="special-tag-container"></div>
          <div id="mod-tag" class="tag"></div>
        </div>
      </div>
      <div id="user-container">
        <h3>General</h3>
        <div id="general-stat-container" class="stat-container">
          <table>
            <caption>
              Gamma Stats
            </caption>
            <tr>
              <th></th>
              <th>1 h</th>
              <th>24 h</th>
              <th>7 d</th>
              <th>365 d</th>
            </tr>
            <tr>
              <th class="right-th">Peak</th>
              <td id="gamma-peak-1h">0</td>
              <td id="gamma-peak-24h">0</td>
              <td id="gamma-peak-7d">0</td>
              <td id="gamma-peak-365d">0</td>
            </tr>
            <tr>
              <th class="right-th">Average</th>
              <td id="gamma-avg-1h">0.00</td>
              <td id="gamma-avg-24h">0.00</td>
              <td id="gamma-avg-7d">0.00</td>
              <td id="gamma-avg-365d">0.00</td>
            </tr>
          </table>
          <table>
            <caption>
              Karma Stats
            </caption>
            <tr>
              <th></th>
              <th>1 h</th>
              <th>24 h</th>
              <th>7 d</th>
              <th>365 d</th>
            </tr>
            <tr>
              <th class="right-th">Peak</th>
              <td id="karma-peak-1h">0</td>
              <td id="karma-peak-24h">0</td>
              <td id="karma-peak-7d">0</td>
              <td id="karma-peak-365d">0</td>
            </tr>
            <tr>
              <th class="right-th">Average</th>
              <td id="karma-avg-1h">0.00</td>
              <td id="karma-avg-24h">0.00</td>
              <td id="karma-avg-7d">0.00</td>
              <td id="karma-avg-365d">0.00</td>
            </tr>
          </table>
          <table>
            <caption>
              Length Stats
            </caption>
            <tr>
              <th></th>
              <th>Total</th>
              <th>Peak</th>
              <th>Average</th>
            </tr>
            <tr>
              <th class="right-th">Characters</th>
              <td id="char-total">0</td>
              <td id="char-peak">0</td>
              <td id="char-avg">0.00</td>
            </tr>
            <tr>
              <th class="right-th">Words</th>
              <td id="word-total">0</td>
              <td id="word-peak">0</td>
              <td id="word-avg">0.00</td>
            </tr>
          </table>
        </div>
        <h3>Heatmap</h3>
        <div id="heatmap-container" class="stat-container">
          <table id="heatmap"></table>
        </div>
        <h3>Formats</h3>
        <div id="format-stat-container" class="stat-container">
          <div id="format-gamma-diagram"></div>
          <div id="format-karma-diagram"></div>
        </div>
        <h3>Types</h3>
        <div id="type-stat-container" class="stat-container">
          <div id="type-gamma-diagram"></div>
          <div id="type-karma-diagram"></div>
        </div>
        <h3>Subreddits</h3>
        <div id="subreddit-stat-container" class="stat-container">
          <div id="sub-gamma-diagram"></div>
          <div id="sub-karma-diagram"></div>
        </div>
        <h3>History</h3>
        <div id="history-stat-container" class="stat-container">
          <div id="gamma-history-diagram"></div>
          <div id="gamma-rate-diagram"></div>
          <div id="karma-history-diagram"></div>
          <div id="karma-rate-diagram"></div>
        </div>
        <h3>Transcription Hall of Fame</h3>
        <div class="transcription-disclaimer">
          <strong>Disclaimer:</strong> The opinions and beliefs presented in the transcriptions are
          not necessarily shared by the transcriber.
        </div>
        <div id="hall-of-fame-container" class="stat-container"></div>
        <h3>Recent Transcriptions</h3>
        <div class="transcription-disclaimer">
          <strong>Disclaimer:</strong> The opinions and beliefs presented in the transcriptions are
          not necessarily shared by the transcriber.
        </div>
        <div id="recent-container" class="stat-container"></div>
      </div>
    </div>
    <footer>
      <div id="footer-content">
        <p id="footer-disclaimer" class="footer-text">
          <strong>Disclaimer:</strong> This is a community-maintained project and is not officially
          endorsed by
          <a href="https://www.reddit.com/r/TranscribersOfReddit/wiki/index"
            >/r/TranscribersOfReddit</a
          >
          nor <a href="https://www.grafeas.org/about">Grafeas Group</a>; they are in no way involved
          with this tool and are not liable for any matters relating to it.
        </p>
        <p id="footer-copyright" class="footer-text">
          <strong>tor-user-stats</strong>, &#xa9; 2020 Tim Jentzsch<br />
          This project is available open source on
          <a href="https://github.com/TimJentzsch/tor-user-stats">GitHub</a>
        </p>
      </div>
    </footer>
  </body>
</html>
