html, body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

#overlay-container {
  position: absolute;
  text-align: right;
  background-color: #000000aa;
  padding: 10px;
  color: #fff;
}

#overlay-user-name {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

#overlay-stats-container {
  font-size: 20px;
}

.visitor {
  color: var(--visitor);
}
.initiate {
  color: var(--initiate);
}
.green {
  color: var(--green);
}
.teal {
  color: var(--teal);
}
.purple {
  color: var(--purple);
}
.gold {
  color: var(--gold);
}
.diamond {
  color: var(--diamond);
}
.ruby {
  color: var(--ruby);
}
.topaz {
  color: var(--topaz);
}
.jade {
  color: var(--jade);
}
